#anchorPaneMain {
    width: 100%;
    background-color: #D9D9D9;
}

#textAreaTemplatePreview {
    height: 308px;
    width: 100%;
    background-color: #8F8F8F;
    resize: none;
    float: right;
    border:none;
    padding: 0;
}

#listViewTemplates {
    height: 308px;
    width: 100%;
    background-color: #8F8F8F;
    border:none;
    float: right;
}

#textAreaTemplatePreview:focus {
    outline: none;
}

#hboxNameOfGroup {
    height: 50px;
    width: 100%;
    background-color: #BEBEBE;
    border:none;
    display: flex;
    align-items: center;
}

#labelNameOfGroup {
    font-size: 30px;
    margin-left: 10px;
}

#tableViewVars {
    height: 100%;
    width: 250px;
    background-color: #656565;
    float: left;
}


#textAreaPost {
    height:100%;
    width:100%;
    font-size: 16px;
    background-color: #D9D9D9;
    float: left;
    resize: none;
    border:none;
    border-left:1px solid darkgrey;
}


#textAreaPost:focus {
    outline: none;
}

#hboxButtons {
    width: 100%;
    background-color: #BEBEBE;
    border: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

button {
    font-size: 17px;
    background-color: #D9D9D9;
    margin: 10px 10px;
}

button:hover {
    font-size: 17px;
    background-color: #b4b3b3;
    margin: 10px 10px;
}

button:active {
    font-size: 17px;
    background-color: #828282;
    margin: 10px 10px;
}


#rightSide {
    float:right;
    width: 250px;
    border:none;
}

#textAreaPostDiv {
    height: 612px;
    width: 50%;
    float:left;

}

#backButton {
    margin-left:80%;
}