<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VKmess</title>
    <link rel="stylesheet" href="/main-styles.css">
</head>
<body>

<div id="anchorPaneMain">
    <div id="hboxNameOfGroup">
        <label id="labelNameOfGroup" style="font-size: 30px;">Название сообщества</label>
        <button id="backButton" onclick="ButtonBackClick()">Обратно</button>
    </div>
    <table id="tableViewVars">
        <thead>
        <tr>
            <th id="colVariableName">Переменная</th>
            <th id="colVariableValue">Значение</th>
        </tr>
        </thead>
    </table>
    <div id="rightSide">
    <div id="listViewTemplates"></div>
    <textarea id="textAreaTemplatePreview" readonly wrap="true" placeholder="Превью шаблона"></textarea>
    </div>
    <div id="textAreaPostDiv">
    <textarea id="textAreaPost" placeholder="Ваш пост" wrap="true"></textarea>
    </div>
    <div id="hboxButtons">
        <button id="buttonSendPost" onclick="ButtonSendPostClick()">Отправить пост</button>
        <button id="buttonClearText" onclick="ButtonClearTextClick()">Очистить текст</button>
        <button id="buttonClearVars" onclick="ButtonClearVarsClick()">Очистить переменные</button>
        <button id="buttonDeleteTemplate" onclick="ButtonDeleteTemplateClick()">Удалить шаблон</button>
        <button id="buttonSaveTemplate" onclick="ButtonSaveTemplateClick()">Сохранить шаблон</button>
    </div>
</div>
<script src="/script-main.js"></script>
</body>
</html>
